*.py[cod]
build
zoopt.egg-info
.idea
/example/direct_policy_search_for_gym/Theano
/example/direct_policy_search_for_gym/test.py
/doc-make
/zoopt/algos/asynchronous_racos/*.py
/example/simple_funcitions/asynchronous_*.py
/build/*
/tutorial/*
/dist/*
/htmlcov/*
.pytest_cache
.coverage
coverage.xml